@model IEnumerable<MaternityCareSystem.Areas.PN.DataModels.PreNatal_Step1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <div class="col-md-12">
        <div class="ibox-content">
            <div class="ibox-title"><h5>Pregnancy Plans</h5></div>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-w-m btn-primary" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Add New Plan</a>
                </div>
                <div class="col-md-4 offset-4 float-right">
                    <div class="input-group">
                        <input type="text" id="txt-search-patient" placeholder="Search..." class="form-control">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered mt-1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PatientName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EDD)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Para)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gravida)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Abortions)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastBabyBorn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EGA)
                        </th>
                        <th>
                           Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EDD)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Para)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gravida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Abortions)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastBabyBorn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EGA)
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.PreNatalStep1Id })">Edit</a>
                                <a class="btn btn-danger btn-sm text-white" data-prenatalid="@item.PreNatalStep1Id" onclick="deletePrenatalStepOne(this)">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

@section scripts{
    <script>
        function deletePrenatalStepOne(objRef) {
       
            var preNatalId = $(objRef).data('prenatalid');
            var tr = $(objRef).parent('td').parent('tr');
            ngo.HTML.Confirm.Show({ message: "Do you want to delete", title: "warning", type: "warning" }, function () {
                $.ajax({
                    url: "/PN/StepOne/DeletePrenatalStepOne",
                    contentType: "application/json",
                    dataType: "Json",
                    data: "{preNatalId:'" + preNatalId + "'}",
                    type: "Post",
                    success: function (data) {
                        if (!data.result.Error) {
                            ngo.HTML.Alert.Show({ message: "Record deleted successfully", title: "success", type: "success" });
                            $(tr).fadeOut(500);
                        }
                    }
                });
            });
        }
    </script>
}