@model MaternityCareSystem.Areas.PN.DataModels.PreNatal_Medication
@if (Model.RecordExist)
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <lable class="control-label col-md-2">Patient Name</lable>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.PatientId, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <lable class="control-label col-md-2">Visit</lable>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.VisitNo, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VisitNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <lable class="control-label col-md-2">Checkup-Of</lable>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CheckupOf, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CheckupOf, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.PreNatalVitamins, htmlAttributes: new { @class = "form-check-input" })
                        <label class="form-check-label" for="PreNatalVitamins">Pre-Natal Vitamins</label>
                        @Html.ValidationMessageFor(model => model.PreNatalVitamins, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.TT, htmlAttributes: new { @class = "form-check-input" })
                        <label class="form-check-label" for="TT">TT</label>
                        @Html.ValidationMessageFor(model => model.TT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.Calcium, htmlAttributes: new { @class = "form-check-input" })
                        <label class="form-check-label" for="Calcium">Calcium</label>
                        @Html.ValidationMessageFor(model => model.Calcium, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.HepBVaccine, htmlAttributes: new { @class = "form-check-input" })
                        <label class="form-check-label" for="HepBVaccine">HepB Vaccine</label>
                        @Html.ValidationMessageFor(model => model.HepBVaccine, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.ReviewDangerSigns, htmlAttributes: new { @class = "form-check-input" })
                        <label class="form-check-label" for="ReviewDangerSigns">Review Danger Signs</label>
                        @Html.ValidationMessageFor(model => model.ReviewDangerSigns, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Advice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Advice, 2, 66, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Advice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="alert alert-danger col-md-12">
            <h3>  <i class="fa fa-info-circle"></i> No record found </h3>
        </div>
    </div>
}